<!DOCTYPE html>
<html>

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        .noborder{ 
            border: none !important;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        .text {
            color:#4a4a4a;
            padding:0 0 6px 0;
            font-family:Helvetica,Arial,sans-serif;
            font-size:20px;
            line-height:1.2;
            font-weight:500;
        }
        td,
        th {
            padding: 15px 8px;
        }
    </style>
</head>

<body>
    <div style="background-color: #f4f4f4; padding: 60px;">
        <table style="border-collapse: collapse; border-bottom: 1px solid rgba(191, 191, 191, 0.49); background-color: #ffffff; width: 100%;">
            <tbody style="width:100%;border: none;">
                <tr style="width:100%;border: none;">
                    <td style="text-align: right; padding: 30px 30px 12px 0; width:50%;border: none;">
                        <a href="" target="_blank" style=" padding-bottom: 10px;"
                            data-saferedirecturl="https://www.google.com/url?q=https://mandrillapp.com/track/click/30191028/ui8.net?p%3DeyJzIjoiQ2lPYVNhLTJsQWhZSVlBZ2o4b2ZtN0p6VURVIiwidiI6MSwicCI6IntcInVcIjozMDE5MTAyOCxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3VpOC5uZXRcIixcImlkXCI6XCJkNmZhZTI5Y2FiZTE0MzY0OGQwOTlkYmM1NTNkOGY5ZVwiLFwidXJsX2lkc1wiOltcImQ2YWRjMzEwYTQ0NGIyM2ZmYzlkNTFiYTc4YzM5MWUwMjc5YzVlYzdcIl19In0&amp;source=gmail&amp;ust=1586697714629000&amp;usg=AFQjCNGzvPYuzJ4UGfmp6-93rUg8tJtJPg">
                            <img src="https://firebasestorage.googleapis.com/v0/b/cash-management-website.appspot.com/o/logo-bci.png?alt=media&token=faa52f8f-25f4-4c78-8e03-662a4f290fb3"
                                width="100px" height="40px"
                                class="CToWUd">
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="background-color: #ffffff; padding: 30px;">

            <p class="text" style="margin-top: 0px; color: #000000; font-size: 15px;">Bonjour,</p>
            <p class="text" style="color: #000000;font-size: 15px;"> Ci-dessous, le reporting de recouvrement de l'agence {{libage}} pour la période du
                {{start_date}} au
                {{end_date}}.</p>
        
            <table style="margin-top: 25px; box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08); border: 1px solid white;">
                <tr>
                    <th style="border: 2.5px solid white; background-color: #F8F8F8; font-size: 19px; font-weight: 600; text-align: center;color: #000;">Nombre de CAE</th>
                    <th style="border: 2.5px solid white; background-color: #F8F8F8; font-size: 19px; font-weight: 600; text-align: center;color: #000;">Total à recouvrer</th>
                    <th style="border: 2.5px solid white; background-color: #F8F8F8; font-size: 19px; font-weight: 600; text-align: center;color: #000;">Total recouvré</th>
                    <th style="border: 2.5px solid white; background-color: #F8F8F8; font-size: 19px; font-weight: 600; text-align: center;color: #000;">Total non recouvré</th>
                    <th style="border: 2.5px solid white; background-color: #F8F8F8; font-size: 19px; font-weight: 600; text-align: center;color: #000;">Taux de non recouvrement</th>
                </tr>
                <tr>
                    <td rowspan ="3" style="border: 2.5px solid white; background-color: #F8F8F8; color: #DC752A;font-size: 25px;font-weight: 600; text-align: center;">
                        {{nbCae}}</td>
                    <td style="border: 2.5px solid white; background-color: #F8F8F8; color: #DC752A; font-size: 25px;font-weight: 600; text-align: center;">
                        {{nbEch}}</td>
                    <td style="border: 2.5px solid white; background-color: #F8F8F8; color: #DC752A; font-size: 25px;font-weight: 600; text-align: center;">
                        {{nbPaidEch}}</td>
                    <td style="border: 2.5px solid white; background-color: #F8F8F8; color: #DC752A; font-size: 25px;font-weight: 600; text-align: center;">
                        {{nbUnpaidEch}}</td>
                    <td rowspan ="3" style="border: 2.5px solid white; background-color: #F8F8F8; color: #DC752A; font-size: 25px;font-weight: 600; text-align: center;">
                        {{unpaidRate}}%</td>
                </tr>
                <tr>
                    <td style="border: 2.5px solid white; background-color: #F8F8F8; font-size: 25px; font-weight: 600; text-align: center; color: #000;">{{totalEch}} XAF</td>
                    <td style="border: 2.5px solid white; background-color: #F8F8F8; font-size: 25px; font-weight: 600; text-align: center; color: #000;">{{paidEch}} XAF</td>
                    <td style="border: 2.5px solid white; background-color: #F8F8F8; font-size: 25px; font-weight: 600; text-align: center; color: #000;">{{unpaidEch}} XAF</td>
                </tr>
            </table>
        
            <p class="text" style="margin-top: 25px; color: #000000;font-size: 15px;">Veuillez trouver ci-dessous le récapitulatif du nombre d'échéance par chargé d'affaire
            </p>
            <table style="margin-top: 25px;">
                <tr style="border-bottom: 2px solid #000000;">
                    <th style="border: none; color: #DC752A;">Code</th>
                    <th style="border: none; color: #DC752A;">Nom et prénom</th>
                    <th style="border: none; color: #DC752A;">Nb Echéances</th>
                    <th style="border: none; color: #DC752A;">Taux Non Recouvré</th>
                    <th style="border: none; color: #DC752A;">Montant Recouvré</th>
                </tr>
                {{#each caeList}}
                <tr style="border-bottom: 1px solid #000000;">
                    <td style="border: none; color: #000;">{{code}}</td>
                    <td style="border: none; color: #000;">{{fullName}}</td>
                    <td style="border: none; color: #000;">{{nbEch}}</td>
                    <td style="border: none; color: #000;">{{caeUnpaidRate}}%</td>
                    <td style="border: none; color: #000;">{{paidEch}} XAF</td>
                </tr>
                {{/each}}
            </table>
        </div>
        <div style="background-color: #fff;  background-image: url(`https://firebasestorage.googleapis.com/v0/b/cash-management-website.appspot.com/o/template-footer-bci-big.png?alt=media&token=81827c9d-6d36-4e55-8245-9399180b25e8`); background-repeat: no-repeat; background-size: contain; background-position: center; height: 70px; width: 100%;" class="CToWUd" style="margin-bottom: 16px;">
        </div>
    </div>
</body>

</html>

