<div bgcolor="#F4F4F4"
    style="margin:0;padding:0;background-color:#f4f4f4;height:100%;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:300;font-size:16px;line-height:24px;width:100%">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0"
        style="max-width:725px;background-color:#f4f4f4;width:100%;border-collapse:collapse">
        <tbody>
            <tr>
                <td align="top">
                    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0"
                        style="border-collapse:collapse">
                        <tbody>
                            <tr>
                                <td valign="top" style="padding:60px" class="m_-5909769013679654532gray-border">
                                    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0"
                                        style="background-color:#ffffff;border-collapse:collapse;border-radius:4px">
                                        <tbody>
                                            <tr>
                                                <td class="m_-5909769013679654532inside-pad">
                                                    <table width="100%" align="center" cellpadding="0" cellspacing="0"
                                                        border="0" style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    style="text-align: left; padding: 30px 60px 0 60px; width:100%;border: none;">
                                                                    <a href="" target="_blank" style=" display: block;"
                                                                        data-saferedirecturl="https://www.google.com/url?q=https://mandrillapp.com/track/click/30191028/ui8.net?p%3DeyJzIjoiQ2lPYVNhLTJsQWhZSVlBZ2o4b2ZtN0p6VURVIiwidiI6MSwicCI6IntcInVcIjozMDE5MTAyOCxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3VpOC5uZXRcIixcImlkXCI6XCJkNmZhZTI5Y2FiZTE0MzY0OGQwOTlkYmM1NTNkOGY5ZVwiLFwidXJsX2lkc1wiOltcImQ2YWRjMzEwYTQ0NGIyM2ZmYzlkNTFiYTc4YzM5MWUwMjc5YzVlYzdcIl19In0&amp;source=gmail&amp;ust=1586697714629000&amp;usg=AFQjCNGzvPYuzJ4UGfmp6-93rUg8tJtJPg">
                                                                        <img src="https://firebasestorage.googleapis.com/v0/b/cash-management-website.appspot.com/o/logo-bci.png?alt=media&token=faa52f8f-25f4-4c78-8e03-662a4f290fb3"
                                                                            style="max-width: 100px; min-width: 70px; max-height: 40px; min-height: 28px;"  class="CToWUd">
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left"
                                                                    style="color:#4a4a4a;padding:0 0 6px 0;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:1.2;font-weight:700">
                                                                    </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="100%" align="left" cellpadding="0" cellspacing="0"
                                                        border="0" style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left" style="font-family: 'Montserrat'; color: #000;font-size: 17px;">
                                                                    {{#each mailContent}}
                                                                    <p style="font-family: 'Montserrat';">{{this}}</p>
                                                                    {{/each}} 
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="100%" align="center" cellpadding="0" cellspacing="0"
                                                        border="0" style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" 
                                                                    style=" padding: 20px 0; line-height: 0; font-size: 0; font-family: none; border: none !important;">
                                                                    <div style="background-color: #fff;  background-image: url(`https://firebasestorage.googleapis.com/v0/b/cash-management-website.appspot.com/o/template-footer-bci-small.png?alt=media&token=d82e1d16-c53b-4b7e-8aca-a62b0361dafa`); background-repeat: no-repeat; background-size: contain; background-position: center; height: 39px; width: 88.62%;" class="CToWUd" style="margin-bottom: 16px;">
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- 
<div bgcolor="#F4F4F4"
    style="margin:0;padding:0;background-color:#f4f4f4;height:100%;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:300;font-size:16px;line-height:24px;width:100%; overflow: auto;">
    <table  align="center" cellpadding="0" cellspacing="0" border="0"
        style="min-width: 0px; max-width:725px; background-color:#f4f4f4;width:100%;border-collapse:collapse">
        <tbody>
            <tr>
                <td align="top">
                    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0"
                        style="border-collapse:collapse">
                        <tbody>
                            <tr>
                                <td valign="top" style="padding:60px" class="m_-5909769013679654532gray-border myclass">
                                    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0"
                                        style="background-color:#ffffff;border-collapse:collapse;border-radius:4px">
                                        <tbody>
                                            <tr>
                                                <td
                                                    style="text-align: left; padding: 30px 60px 0 60px; width:100%;border: none;">
                                                    <a href="" target="_blank" style=" display: block;"
                                                        data-saferedirecturl="https://www.google.com/url?q=https://mandrillapp.com/track/click/30191028/ui8.net?p%3DeyJzIjoiQ2lPYVNhLTJsQWhZSVlBZ2o4b2ZtN0p6VURVIiwidiI6MSwicCI6IntcInVcIjozMDE5MTAyOCxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3VpOC5uZXRcIixcImlkXCI6XCJkNmZhZTI5Y2FiZTE0MzY0OGQwOTlkYmM1NTNkOGY5ZVwiLFwidXJsX2lkc1wiOltcImQ2YWRjMzEwYTQ0NGIyM2ZmYzlkNTFiYTc4YzM5MWUwMjc5YzVlYzdcIl19In0&amp;source=gmail&amp;ust=1586697714629000&amp;usg=AFQjCNGzvPYuzJ4UGfmp6-93rUg8tJtJPg">
                                                        <img src="https://firebasestorage.googleapis.com/v0/b/cash-management-website.appspot.com/o/logo-bicec-small.png?alt=media&token=ef0bd699-f1c2-4b12-bddf-939e0a9b78d9"
                                                            style="max-width: 100px; min-width: 70px; max-height: 40px; min-height: 28px;"  class="CToWUd">
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left"
                                                    style="line-height: 24px;margin: 25px 0;padding:60px 60px 40px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:100;color:#333;">
                                                    {{{mailContent}}}
                                                </td> -->
                                                <!-- <td style="padding:60px 60px 0"
                                                    class="m_-5909769013679654532inside-pad"> -->
                                                <!-- <table width="100%" align="center" cellpadding="0" cellspacing="0"
                                                        border="0" style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left"
                                                                    style="padding:0 0 42px 0;font-fami
                                                                    ly:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:24px;line-height:24px;font-weight:400;display:flex;justify-content: flex-end;">
                                                                    <a href="" target="_blank"
                                                                        data-saferedirecturl="https://www.google.com/url?q=https://mandrillapp.com/track/click/30191028/ui8.net?p%3DeyJzIjoiQ2lPYVNhLTJsQWhZSVlBZ2o4b2ZtN0p6VURVIiwidiI6MSwicCI6IntcInVcIjozMDE5MTAyOCxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3VpOC5uZXRcIixcImlkXCI6XCJkNmZhZTI5Y2FiZTE0MzY0OGQwOTlkYmM1NTNkOGY5ZVwiLFwidXJsX2lkc1wiOltcImQ2YWRjMzEwYTQ0NGIyM2ZmYzlkNTFiYTc4YzM5MWUwMjc5YzVlYzdcIl19In0&amp;source=gmail&amp;ust=1586697714629000&amp;usg=AFQjCNGzvPYuzJ4UGfmp6-93rUg8tJtJPg">


                                                                        <img src="https://firebasestorage.googleapis.com/v0/b/cash-management-website.appspot.com/o/logo-bicec-small.png?alt=media&token=ef0bd699-f1c2-4b12-bddf-939e0a9b78d9"
                                                                            width="100px" height="40px"
                                                                            class="CToWUd"></a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left"
                                                                    style="color:#4a4a4a;padding:0 0 6px 0;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:1.2;font-weight:700">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table> -->
                                                <!-- <table width="100%" align="left" cellpadding="0" cellspacing="0"
                                                        border="0" style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td> -->
                                            <!-- </tr>
                                            <tr>
                                                <td align="center" class="noborder"
                                                    style=" padding: 20px 0; line-height: 0; font-size: 0; font-family: none;"> -->
                                                    <!-- <img src="https://firebasestorage.googleapis.com/v0/b/cash-management-website.appspot.com/o/template-footer-bicec-small_old.png?alt=media&token=c2a47639-2102-470b-9786-588a42b26d44"
                                                        style="height: 39px; width: auto;" alt="image-footer"> -->
                                                    <!-- <div style="background-color: #fff;  background-image: url(`https://firebasestorage.googleapis.com/v0/b/cash-management-website.appspot.com/o/template-footer-bicec-small_old.png?alt=media&token=c2a47639-2102-470b-9786-588a42b26d44`); background-repeat: no-repeat; background-size: contain; background-position: center; height: 39px; width: 88.62%;" class="CToWUd" style="margin-bottom: 16px;">
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<style type="text/css">
    .myclass {
        padding: 60px;
    }
    @media only screen and (max-width: 672px) {
        .myclass {
            padding-left: 30px !important;
            padding-right: 30px !important;
        }
    }
    .noborder {
        border: none !important;
    }

    p {
        line-height: 24px !important;
    }

    .mail-content {
        margin: 25px 0;
    }

    .mail-content p {
        line-height: 24px;
    }

    .preview-footer {
        /* display: flex;
        align-items: center; */
        padding: 15px 50px;
        margin: 0px -60px 0 -60px;
    }

    .icon {
        cursor: pointer;
    }

    .social-media {
        display: flex;
        align-items: center;
        width: 15%;
        margin-left: 0px;
        justify-content: space-between;
    }

    .social-media a {
        height: 100%;
        text-decoration: none;
    }

    .footer-title {
        width: 50%;
        font-size: 1rem;
    }
</style> -->