<!DOCTYPE html>
<html>

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        .noborder{ 
            border: none !important;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        .text {
            color:#4a4a4a;
            padding:0 0 6px 0;
            font-family:Helvetica,Arial,sans-serif;
            font-size:20px;
            line-height:1.2;
            font-weight:500;
        }
        td,
        th {
            padding: 8px 8px;
        }
    </style>
</head>

<body>
    <div style="background-color: #f4f4f4; padding: 60px; min-width: 600px;">
        <div style="max-width: 999px;margin: auto;">
            <table style="border-collapse: collapse; background-color: #ffffff; width: 100%;border: none;">
                <tbody style="width:100%;border: none;">
                    <tr style="width:100%;border: none;">
                        <!-- <td class="noborder" style="background-color: #fff;  background-image: url(`https://firebasestorage.googleapis.com/v0/b/cash-management-website.appspot.com/o/logo-bicec-small.png?alt=media&token=ef0bd699-f1c2-4b12-bddf-939e0a9b78d9`); background-repeat: no-repeat; background-size: contain; background-position: center; height: 184px; width: 100%;">
                        </td> -->
                        <td style="text-align: left; padding: 30px 0 12px 30px; width:50%;border: none;">
                            <span>{{date}}</span>
                        </td>
                        <td style="text-align: right; padding: 30px 30px 12px 0; width:50%;border: none;">
                            <a href="" target="_blank" style=" padding-bottom: 10px;"
                                data-saferedirecturl="https://www.google.com/url?q=https://mandrillapp.com/track/click/30191028/ui8.net?p%3DeyJzIjoiQ2lPYVNhLTJsQWhZSVlBZ2o4b2ZtN0p6VURVIiwidiI6MSwicCI6IntcInVcIjozMDE5MTAyOCxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3VpOC5uZXRcIixcImlkXCI6XCJkNmZhZTI5Y2FiZTE0MzY0OGQwOTlkYmM1NTNkOGY5ZVwiLFwidXJsX2lkc1wiOltcImQ2YWRjMzEwYTQ0NGIyM2ZmYzlkNTFiYTc4YzM5MWUwMjc5YzVlYzdcIl19In0&amp;source=gmail&amp;ust=1586697714629000&amp;usg=AFQjCNGzvPYuzJ4UGfmp6-93rUg8tJtJPg">
                                <img src="https://firebasestorage.googleapis.com/v0/b/cash-management-website.appspot.com/o/logo-bci.png?alt=media&token=faa52f8f-25f4-4c78-8e03-662a4f290fb3"
                                    width="100px" height="40px"
                                    class="CToWUd">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="background-color: #ffffff; padding: 30px;">
    
                <p class="text" style="margin-top: 0px; color: #000000; font-size: 15px;">Bonjour,</p>
                <p class="text" style="color: #000000; margin-bottom: 10px;font-size: 15px;"> Ci-dessous, le reporting de recouvrement de la BCI pour la période du
                    {{start_date}} au
                    {{end_date}}.</p>
    
                {{#each recapData}}
                <p class="text" style="margin-top: 35px; color: #000000;font-size: 15px; font-weight: bold;">{{libReg}}</p>
                <table style="margin-top: 15px; box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08); border: 1px solid white; width: 100%;">
                    <tr>
                        <th style="border: 2.5px solid white; background-color: #F8F8F8; font-size: 20px; font-weight: 600; text-align: center;color: #000; border-top: none; border-left: none;"></th>
                        <th style="border: 2.5px solid white; background-color: #F8F8F8; font-size: 20px; font-weight: 600; text-align: center;color: #000;">Nombre d'agences</th>
                        <th style="border: 2.5px solid white; background-color: #F8F8F8; font-size: 20px; font-weight: 600; text-align: center;color: #000;">Nombre de gestionnaires</th>
                    </tr>
                    <tr>
                        <td rowspan ="4" style="border: 2.5px solid white; background-color: #F8F8F8; color:  #000;;font-size: 20px;font-weight: 600; text-align: center;">
                            {{libReg}}</td>
                        <td rowspan ="4" style="border: 2.5px solid white; background-color: #F8F8F8; color: #DC752A;font-size: 22px;font-weight: 600; text-align: center;">
                            {{nbAge}}</td>
                        <td style="border: 2.5px solid white; background-color: #F8F8F8; color: #DC752A; font-size: 22px;font-weight: 600; text-align: center;">
                            {{nbCae}}</td>
                    </tr>
                </table><br>
                <table style="margin-top: 15px; box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08); border: 1px solid white; width: 100%;">
                    <tr>
                        <th style="border: 2.5px solid white; background-color: #F8F8F8; font-size: 20px; font-weight: 600; text-align: center;color: #000; border-top: none; border-left: none;"></th>
                        <th style="border: 2.5px solid white; background-color: #F8F8F8; font-size: 20px; font-weight: 600; text-align: center;color: #000;">Echéances dues</th>
                        <th style="border: 2.5px solid white; background-color: #F8F8F8; font-size: 20px; font-weight: 600; text-align: center;color: #000;">Echéances payées</th>
                        <th style="border: 2.5px solid white; background-color: #F8F8F8; font-size: 20px; font-weight: 600; text-align: center;color: #000;">Echéances impayées</th>
                    </tr>
                    <tr>
                        <td style="border: 2.5px solid white; background-color: #F8F8F8; color: #000;font-size: 20px;font-weight: 600; text-align: center;">
                            Nombre</td>
                        <td style="border: 2.5px solid white; background-color: #F8F8F8; color: #DC752A;font-size: 22px;font-weight: 600; text-align: center;">
                            {{nbEch}}</td>
                        <td style="border: 2.5px solid white; background-color: #F8F8F8; color: #DC752A; font-size: 22px;font-weight: 600; text-align: center;">
                            {{nbPaidEch}}</td>
                        <td style="border: 2.5px solid white; background-color: #F8F8F8; color: #DC752A; font-size: 22px;font-weight: 600; text-align: center;">
                            {{nbUnpaidEch}}</td>
                    </tr>
                    <tr>
                        <td style="border: 2.5px solid white; background-color: #F8F8F8; color: #000;font-size: 20px;font-weight: 600; text-align: center;">
                            Montant</td>
                        <td style="border: 2.5px solid white; background-color: #F8F8F8; color: #000;font-size: 22px;font-weight: 600; text-align: center;">
                            {{totalEch}} XAF</td>
                        <td style="border: 2.5px solid white; background-color: #F8F8F8; color: #000; font-size: 22px;font-weight: 600; text-align: center;">
                            {{paidEch}} XAF</td>
                        <td style="border: 2.5px solid white; background-color: #F8F8F8; color: #000; font-size: 22px;font-weight: 600; text-align: center;">
                            {{unpaidEch}} XAF</td>
                    </tr>
                    <tr>
                        <td style="border: 2.5px solid white; background-color: #F8F8F8; color: #000;font-size: 20px;font-weight: 600; text-align: center;">
                            Taux</td>
                        <td style="border: 2.5px solid white; background-color: #b8b6b6; color: #000;font-size: 22px;font-weight: 600; text-align: center;">
                            </td>
                        <td style="border: 2.5px solid white; background-color: #F8F8F8; color: #000; font-size: 22px;font-weight: 600; text-align: center;">
                            {{paidRate}}%</td>
                        <td style="border: 2.5px solid white; background-color: #F8F8F8; color: #000; font-size: 22px;font-weight: 600; text-align: center;">
                            {{unpaidRate}}%</td>
                    </tr>
                </table>
                <!-- <table style="margin-top: 15px; box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08); border: 1px solid white; width: 100%;">
                    <tr>
                        <th style="border: 2.5px solid white; background-color: #F8F8F8; font-size: 18px; font-weight: 600; text-align: center;color: #000;">Nombre de AGE</th>
                        <th style="border: 2.5px solid white; background-color: #F8F8F8; font-size: 18px; font-weight: 600; text-align: center;color: #000;">Nombre de CAE</th>
                        <th style="border: 2.5px solid white; background-color: #F8F8F8; font-size: 18px; font-weight: 600; text-align: center;color: #000;">Total à recouvrer</th>
                        <th style="border: 2.5px solid white; background-color: #F8F8F8; font-size: 18px; font-weight: 600; text-align: center;color: #000;">Total recouvré</th>
                        <th style="border: 2.5px solid white; background-color: #F8F8F8; font-size: 18px; font-weight: 600; text-align: center;color: #000;">Total non recouvré</th>
                    </tr>
                    <tr>
                        <td rowspan ="4" style="border: 2.5px solid white; background-color: #F8F8F8; color: #DC752A;font-size: 22px;font-weight: 600; text-align: center;">
                            {{nbAge}}</td>
                        <td rowspan ="4" style="border: 2.5px solid white; background-color: #F8F8F8; color: #DC752A;font-size: 22px;font-weight: 600; text-align: center;">
                            {{nbCae}}</td>
                        <td style="border: 2.5px solid white; background-color: #F8F8F8; color: #DC752A; font-size: 22px;font-weight: 600; text-align: center;">
                            {{nbEch}}</td>
                        <td style="border: 2.5px solid white; background-color: #F8F8F8; color: #DC752A; font-size: 22px;font-weight: 600; text-align: center;">
                            {{nbPaidEch}}</td>
                        <td style="border: 2.5px solid white; background-color: #F8F8F8; color: #DC752A; font-size: 22px;font-weight: 600; text-align: center;">
                            {{nbUnpaidEch}}</td>
                    </tr>
                    <tr>
                        <td rowspan ="2" style="border: 2.5px solid white; background-color: #F8F8F8; font-size: 22px; font-weight: 600; text-align: center; color: #000;">{{totalEch}} XAF</td>
                        <td style="border: 2.5px solid white; background-color: #F8F8F8; font-size: 22px; font-weight: 600; text-align: center; color: #000;">{{paidEch}} XAF</td>
                        <td style="border: 2.5px solid white; background-color: #F8F8F8; font-size: 22px; font-weight: 600; text-align: center; color: #000;">{{unpaidEch}} XAF</td>
                    </tr>
                    <tr>
                        <td style="border: 2.5px solid white; background-color: #F8F8F8; font-size: 22px; font-weight: 600; text-align: center; color: #000;">{{paidRate}}%</td>
                        <td style="border: 2.5px solid white; background-color: #F8F8F8; font-size: 22px; font-weight: 600; text-align: center; color: #000;">{{unpaidRate}}%</td>
                    </tr>
                </table> -->
                {{/each}}
            
                <p class="text" style="margin-top: 25px; color: #000000;font-size: 15px;">Veuillez trouver ci-dessous le récapitulatif du nombre d'échéance par agence
                </p>
                <table style="margin-top: 25px;">
                    <tr style="border-bottom: 2px solid #000000;">
                        <th style="border: none; color: #DC752A;">Code</th>
                        <th style="border: none; color: #DC752A;">Agences</th>
                        <th style="border: none; color: #DC752A;">Région</th>
                        <th style="border: none; color: #DC752A;">Total à recouvrer</th>
                        <th style="border: none; color: #DC752A;">Total Non Recouvré</th>
                        <th style="border: none; color: #DC752A;">Taux Non Recouvré</th>
                    </tr>
                    {{#each ageList}}
                    <tr style="border-bottom: 1px solid #000000;">
                        <td style="border: none; color: #000;">{{code}}</td>
                        <td style="border: none; color: #000;">{{libage}}</td>
                        <td style="border: none; color: #000;">{{libReg}}</td>
                        <td style="border: none; color: #000;">{{totalEch}} XAF</td>
                        <td style="border: none; color: #000;">{{unpaidEch}} XAF</td>
                        <td style="border: none; color: #000;">{{unpaidRate}}%</td>
                    </tr>
                    {{/each}}
                </table>
            </div>
            <div style="background-color: #fff;  background-image: url(`https://firebasestorage.googleapis.com/v0/b/cash-management-website.appspot.com/o/template-footer-bci-big.png?alt=media&token=81827c9d-6d36-4e55-8245-9399180b25e8`); background-repeat: no-repeat; background-size: contain; background-position: center; height: 70px; width: 100%;" class="CToWUd" style="margin-bottom: 16px;">
            </div>
        </div>
    </div>
</body>

</html>

